{% extends 'base.html' %}

{% block title %}{{ ingredient.title }}{% endblock %}

{% block body %}
<div class="title shadow-lg p-3 mb-5 bg-body rounded text-uppercase fs-3" style="text-align: center">
	{{ ingredient.title }}
</div>

<div class="text-sm-center text-uppercase fs-5 fw-lighter">
	<p>
		{% for recipe in ingredient.recipe.all %}
			<a class="text-decoration-none" href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
		{% endfor %}
	</p>
</div>
<div class="p-3 mb-5 text-center text-capitalize">

	<h4> Description for {{ ingredient.title }} </h4>
	<p class="">
		{{ ingredient.description | linebreaks }}
	</p>
</div>


{% endblock %}