{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
	<h1>{{ recipe.title }}</h1>
	<p class="tags">
		{% for tag in recipe.tags.all %}
		<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
		{% endfor %}
	</p>

	<div class="image">
		{% for pic in recipe.pictures.all %}
		<img src="/{{ pic.image }}">
		{% endfor %}
	</div>

	<p class="description">
		{{ recipe.description | linebreaks }}
	</p>

	<p class="cooktime"><h3>Cook time is {{ recipe.cook_time }}</h3></p>

	<p class="ingredients">
		<h5> List of ingredients </h5>
		{% for ingredient in recipe.ingredients.all %}
			<a href="{{ ingredient.get_absolute_url }}">{{ ingredient.title }}</a>
		{% endfor %}
	</p>

	<p class="instruction">
		<h4>Instruction</h4>
		{{ recipe.instruction | linebreaks }}
	</p>

{% endblock %}