{% extends 'base.html' %}

{% block title %}Tags{% endblock %}

{% block body %}
	<div class="title shadow-lg p-3 mb-5 bg-body rounded text-muted" style="text-align: center">
		<h1> Book of recipes </h1>
	</div>

	{% for tag in tags %}
		<div class="list-group">
			<a class="list-group-item list-group-item-action not-active shadow-sm p-3 mb-3 rounded"
			   aria-current="false" href="{{ tag.get_absolute_url }}" style="text-align: center"> {{ tag.title }} </a>
		</div>
	{% endfor %}
{% endblock %}